/.idea/.idea.BattleOfTheSeas/.idea/
/Library/
/Logs/
/obj/Debug/
/Packages/
/UserSettings/
/.vsconfig
/Assembly-CSharp.csproj
/BattleOfTheSeas.sln
/BattleOfTheSeas.sln.DotSettings.user
/ParrelSync.csproj
/PhotonChat.csproj
/PhotonRealtime.csproj
/PhotonUnityNetworking.csproj
/PhotonUnityNetworking.Demos.csproj
/PhotonUnityNetworking.Editor.csproj
/PhotonUnityNetworking.Utilities.csproj
/PhotonUnityNetworking.Utilities.Culling.Editor.csproj
/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
/PunDemos.DemoHubEditor.csproj
/PunDemos.DemoSlotcarEditor.csproj
/Temp/
